;;; -*- Mode: LISP; Syntax: COMMON-LISP; Package: CL-USER; Base: 10 -*-

(in-package #:{cl package})

;; {From where this problem came from}

;; {Problem description}

;;; ____________________________________________________________________________





;;; TEST




;;; ____________________________________________________________________________
;;;                                                                    My notes
